.page-neighbors {
	padding: 10px;
	overflow-x: hidden;
	color: @color-black;

	.neighbor-card {
		border: 1px solid @color-lighter-gray;
		border-radius: 4px;
		.flex-inline;
		padding: 8px;
		margin: 5px;
		cursor: pointer;
		height: 82px;
    	min-width: 200px;

		&:hover {
			border-color: @color-light-gray;
			box-shadow: 3px 3px 10px -5px @brand-color-1;
		}

		.profile-image {
			border-radius: 4px;
			background-color: @brand-color-1;
			.flex;
			margin-right: 10px;
			padding: 5px;

			i { 
				font-size: 35px;
				color: @color-light-gray;
				margin: auto;
				padding: 5px 10px;
			}
		}

		.card-body {
			pointer-events: none;
			.flex-column;
			.flex-1;
			
			.user-name {
				text-align: center;
				font-size: 18px;
			}

			.info {
				font-size: 12px;
				.flex-column;

				> .info-item {
					.flex;
					
					label {
						margin: auto 10px auto 0;
					}

					div {
						.flex-1;
						font-size: 16px;
						text-align: right;
					}
				}
			}
		}	
	}
}