@content-item-hover-bg-color: @default-content-item-hover-bg-color;
@content-item-selected-bg-color: @default-content-item-selected-bg-color;

.page-profile {
	.flex;
    .flex-1;
	overflow: hidden;

	.alert {
		flex: none;
    	padding: 10px;
	}
		
	/* might want to move this to its own file for navigation */
	nav {
		&.content-collection-nav {
			background-color: @color-gray;
			color: @color-white;
			.flex-column;
		    min-width: 150px;        		
    		overflow: hidden;
    		white-space: nowrap;

    		@media (max-width: @media-max-width-value) {
	       		min-width: 100px;
	    	}

			.nav-header {
				display: flex;

				margin: 5px 0;
				
				span {
					flex: 1; 
					margin: auto 5px;
				}

				i {
					cursor: pointer;
					padding: 4px 8px;
				    margin: auto;

				   	&:hover {
				   		background-color: @brand-color-1;
				   	}	 
				}			
			}
			
		    .nav-body {
		    	border-top: 1px solid @color-white;
				.flex-1;

		    	> div {
				    cursor: pointer;
					padding: 5px 20px 5px 10px;
					text-align: right;
			    	
			    	&:hover {
			    		background-color: @content-item-hover-bg-color;
			    	}
			    	&.selected {
			    		background-color: @content-item-selected-bg-color;
			    	}

			    	@media (max-width: @media-max-width-value) {
		        		padding-right: 5px;
					
		        	}
		        }
		    }

		    &.collapsed {
		    	min-width: 40px;
    			flex: .0001;
		    }
		}
	}

	.content {
		.flex-1;
		.flex-column;
		overflow:hidden;

		.simple-message {
			.font-size-larger;
			.flex-1;

			text-align: center;

			&.with-bg {
				background: @no-collections-background-image-wide no-repeat center center fixed;
				@media (max-width: @media-max-width-value) {
					background-image: @no-collections-background-image-tall;
				}
				background-size: cover;
				
			}

			a { color: @color-white; text-decoration: underline; }

			:first-child { margin-top: 25px; }

			.user-name {
				font-weight: bold;
				.font-size-largest;
			}
		}

		.not-connected {
			.flex;

			i {
				margin-right: 10px;
				margin-left: auto;
			}

			span {
				margin: auto auto auto 0px;
			}
		}
	}
}

.content-collection-container {
	text-align: left;
	overflow-y: auto;
	.flex-1;

	ul {
		padding-right: 5px;
		padding-left: 5px;

		&.expanded {
			background-color: #B0C4DE;
			padding-bottom: 3px;
			padding-top: 5px;
		}

		li {
		    background-color: @color-off-white;
		    border: 1px solid @color-light-gray;
		    border-radius: 0px;
		    list-style: none;
			margin: 2px 0px;

			.content-file {
				cursor: pointer;
				padding: 5px;
			}
			
			&.selected {
				.content-file {
					background-color: @brand-color-1;
				}

				background-color: @color-light-gray;
			    
				@media (max-width: @media-max-width-value) {
				    margin: 0px;
		        }

				a { 
					color: white;
				}
			}	
		} 
	}
		
	@media (max-width: @media-max-width-value) {
        ul {
            .selected {
            	margin-bottom: 5px;
            }
        }			
    }

	.content-collection-name {
		font-size: 18px;

		@media (max-width: @media-max-width-value) {
            font-size: 14px;
        }
	}

	.content-dir {
		color: @brand-color-1;
		font-size: 21px;
		display: flex;
		
		i {
			margin: auto 5px;
			color: @brand-color-1;
		}

		
		&:hover {
			background-color: @content-item-hover-bg-color;
			color: @color-white;

			a {
				color: @color-white;
			}

			i {
				color: @color-white;
			}	
		}

		@media (max-width: @media-max-width-value) {
            font-size: 18px;
        }
	} 

	.content-file {
		color: @brand-color-2;
		font-size: 18px;
		overflow: hidden;
		
		&:hover {
			background-color: @content-item-hover-bg-color;
			a { 
				color: @color-white;
			}
		}
		
		@media (max-width: @media-max-width-value) {
            font-size: 14px;
        }
	}
}