.page-search {
	.flex-column;
    .flex-1;
	overflow: hidden;

	.search-term {
		margin: 10px 20%;

		@media (max-width: @media-max-width-value) {
			margin: 10px 10%;
	    }
	}

	.no-results {
		font-size: 18px;
		margin-top: 20px;
		text-align: center;
		color: @color-black;
	}
}