@page-settings-container-background-color: @default-background-color;

.page-settings {
	color: @color-black;
	flex: 1;
	height: 100%;
	padding: 10px;
	margin: 0 20%;

	@media (max-width: @media-max-width-value) {
		margin: 0 10%
    }
	
	.content-settings {
		padding-bottom: 25px;

		.with-addon {
			&.content-collection-dropdown {
				margin-top: 0;
			}
		}

		.btn-add-path {
			margin-top: 5px;
		}
	}

	.settings-section-header {
		.font-size-large;
		margin-top: 20px;
	}

	form {
		.form-group {
			margin-bottom: 0;
			padding-top: 15px;

			&:not(:first-child) {
				border-top: 1px solid black;
			}
		}

		table {
			/* TODO: mixin*/
			::-webkit-input-placeholder { font-size:10px; }
			::-moz-placeholder { font-size:10px; } /* firefox 19+ */
			:-ms-input-placeholder { font-size:10px; } /* ie */
			input:-moz-placeholder { font-size:10px; }

			border: 1px solid #ccc;
			padding: 5px;
			margin-top: 5px;
		}
	}

	input, select { margin: 0; }
}