<script type="text/html" id='index-page'>
   <div class="page-index">
		<div class="index-propaganda-headline">
			<span>Don't break the law just to watch a movie. Join a community who shares media they own.</span>
		</div>
	
		<div class="index-propaganda-message">
			<div class="index-propganda-message-header">LoanStar<i class="fa fa-star-o" /> is a service like no other.</div>
			<p>
				We encourage people to purchase media, not steal it from torrents or some virus injecting website. Buy, signup, and share your copy, and in doing so, help us create a community of shared media. By getting your media legally you have the right to loan it to anyone you choose, much like lending a dvd to a friend.
			</p>
			<p>
				Original content is more than welcome, but our service was built to address digital media piracy. Since the internet was young, movie companies, and those who didn't want to pay for movies, have waged war on each other. LoanStar<i class="fa fa-star-o" /> is an attempt to find a common ground on which both sides may stand.  
			</p>

			<div class="index-propaganda-bottom">
				<div class="flex-1">
					<div class="bullet-list-header">What we do.</div>
					
					<ul>
						<li class="stream">Let users can stream, but not download, (a.k.a. borrow) media shared by the community</li>
						<li class="disc">Allow only one neighbor to borrow your copy at a time.</li>
						<li class="organize">Make organizing your media into collections simple</li>
						<li class="cash">Keep the movie studios happy! Starting a movement centered on purchased content will increase sales.</li>
					</ul>
				</div>
				<button class="index-signup-button brand btn" data-bind="click: App.goToFn('signup')">
					Sign Up Now!
				</button>	
			</div>
		</div>
	</div>
</script>