<script type="text/html" id="content-item">
	<!-- ko ifnot: $data.isDir && $data.isDir() -->
	<li data-bind="css: {selected: $root.selectedFile() === $data}">
		<div class="content-file" data-bind="click: $root.onFileClick.bind($root)">
			<a>
				<!-- ko text: name--><!-- /ko -->
				<!-- <i title="File Is Locked While In Use" data-bind="" class="fa fa-lock"></i>-->
			</a>
		</div>		
	</li>
	<!-- /ko -->
	
	<!-- ko if: $data.isDir && $data.isDir() -->
		<!-- ko if: $data.skipDisplay && $data.skipDisplay() -->	
			<!-- ko foreach: contentItems -->
				<!-- ko template: 'content-item'--><!-- /ko -->
			<!-- /ko -->
		<!-- /ko -->

		<!-- ko ifnot: $data.skipDisplay && $data.skipDisplay() -->
		<li>
			<div class="content-dir" data-bind="click: $root.onDirClick.bind($root)">
				<i data-bind="css: { 'fa-folder-o': collapsed(), 'fa-folder-open-o': !collapsed() }" class="fa"></i>
				<a data-bind="text: name"></a>
			</div>
			<!-- ko if: showContentItems() -->
			<ul data-bind="css: {expanded: !collapsed()}">
			<!-- ko foreach: contentItems -->
				<!-- ko template: 'content-item'--><!-- /ko -->
			<!-- /ko -->
			</ul>
			<!-- /ko -->
		</li>
		<!-- /ko -->
	<!-- /ko -->
</script>

