<script type="text/html" id="profile-page">
	<div class="page-profile">	
		
		<!-- ko ifnot: showNoCollections() || hasError() -->
		<nav class="content-collection-nav" data-bind="css: { collapsed: navCollapsed() }">
			<div class="nav-header">
			  <!-- ko if: !navCollapsed()-->
			  <span>Collections</span>
			  <!-- /ko -->
			  
			  <i class="fa" data-bind="click: onNavCollapseClick, css: { 'fa-angle-double-left': !navCollapsed(), 'fa-angle-double-right': navCollapsed() }"></i>
			</div>
			
			<div class='nav-body'>
				<!-- ko foreach: contentCollections -->
				<div data-bind="attr: {title: name}, click: $parent.onNavItemClick.bind($parent), css: { selected: $parent.selectedNavItem() === $data }, text: name">
				</div>
				<!-- /ko -->
			</div>
		</nav>
		<!-- /ko -->
		
		<section class='content'>
			<!-- ko if: isLoading() -->
			<div class="simple-message">
				<i class="fa fa-spinner fa-pulse"></i> Fetching Content
			</div>
			<!-- /ko -->		
		
			<div class="content-collection-container" data-bind="visible:showContent()">
				<!-- ko if: selectedContentCollection()-->
				<ul data-bind="foreach: selectedContentCollection().contentItems">
					<!-- ko template: 'content-item' --><!-- /ko -->
				</ul>
				<!-- /ko -->
			</div>
			
			<div class="simple-message with-bg" data-bind="visible: showNoCollections">
				<!-- ko if: isMe() -->
				<p>You have no collections.</p> 
				<p>You can add some on <a data-bind="click: App.goToFn('/settings')">the settings page</a>.</p>
				<!-- /ko -->
				
				<!-- ko ifnot: isMe() -->
				<p> <span class="user-name"><!-- ko text: userNameInPath --><!-- /ko --></span> has not yet created any collections. </p>
				<!-- /ko -->
			</div>
			
			<div class="simple-message with-bg" data-bind="visible: showNoContent">
				<p>There was no content found for this collection. </p>
				<!-- ko if: isMe() -->
				<p>Check the file paths you specified on <a data-bind="click: App.goToFn('/settings')">the settings page</a>.</p>
				<!-- /ko -->
				
			</div>
			
			<div class="not-connected" data-bind="valid: { type: 'label', ninjaMode: true, icon: 'fa fa-chain-broken'}"></div>
		</section>

		<!-- ko if: selectedFile() && showFileOverlay() -->
			<file-overlay params="file: selectedFile(), show: selectedFile"></file-overlay>	
		<!-- /ko -->
	</div>
</script>