.file-overlay {
	.flex-column;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: @color-white;
		
    .top-bar {
    	.flex;
    	background-color: @brand-color-2;
    	
    	i {
			cursor: pointer;
	    }

		.left {
			margin: auto 0;
			/* for the flag-file dropdown */
			position: relative;

			.dropdown-toggle i { 
				border-right: 2px solid @color-white;

				background-color: @brand-color-2;
				&:hover {
					background-color: @brand-color-1;
				}
			}
		}

		.center {
			.flex-1;
			text-align: center;
			margin: auto 0;

			.file-name {
				background-color: @brand-color-2;
				text-align: center;
			}	
		}

		.right {
			text-align: right;
			margin: auto 0;

			i { 
				border-left: 2px solid @color-white;
				padding: 10px;

				&:hover {
					background-color: @brand-color-1;
				}
			}
		}
    }

    .bottom-bar {
    	background-color: @brand-color-1;
		.flex;

    	.stateButton {
    		cursor: pointer;
    		.flex;
    		padding-right: 10px;

    		&:first-child {
    			margin-left: auto;
    		}

    		&:last-child {
    			margin-right: auto;
    		}

	    	&.selected {
				background-color: @color-gray;
			}

    		&:hover {
    			background-color: @brand-color-2;
    		} 
    	
	    	i {
	    		padding: 10px 0 10px 10px;
	    		
				&:hover {
					background-color: @brand-color-2;
				}
			}

			span {
				margin: auto 5px;
			}
		}
    }
	
	.content {
		.flex-1;
		.flex-column;
		overflow:hidden;
	}

	/* "Tabs" on bottom bar */
	.file-info {
		background-color: rgba(0,0,0,.9);
		.flex-1;
		text-align: center;
		padding-top: 10px;
	}

	.file-tags {
		background-color: rgba(0,0,0,.9);
		.flex-1;
		text-align: center;
		padding-top: 10px;
	}
}