.video-player {
	.flex;
	.flex-1;
	position: relative;
	text-align: center;
    overflow: hidden;
    background-color: @color-black;

	.indicator {
		.flex;
		background-color: rgba(150,150,150,.9); 
		position: absolute;
		left: 0;
		right: 0;
		top: 42%;
		bottom: 42%;

		font-size: @font-size-large;
		@media (max-width: @media-max-width-value) {
			font-size: @font-size-medium;
		}

		padding: 0 20px;

		&.stalled,
		&.play,
		&.errored {
			cursor: pointer;
		}

		&.stalled {
			background-color: @alert-info-background-color;
			color: @alert-info-font-color;

			i {
			    color: @alert-info-font-color;
			}
		}
			
		&.errored {
			background-color: @alert-error-background-color;	
			color: @alert-error-font-color;
			
			i {
				color: @alert-error-font-color;
			}
		}

		.indicator-text {
			.flex-1;
			margin: auto;
		}
	}

	video {
		width: 100%;
	}
}