<script type="text/html" id="content-collection">
	<div class="settings-section-header">Content Settings</div>
	
	<div class="validation-input form-group content-settings">
		<div class="validation-input-top">
            <label class="brand">Collections</label>
			<div data-bind="valid: { selector: ['contentCollections'], type: 'label' }" class="validation-info"></div>
        </div>

		<div class="with-addon content-collection-dropdown">
			<!-- ko ifnot: addingContentCollection -->
			<select class="form-control" data-bind="options: contentCollections, 
				optionsText: 'name',
				optionsValue: 'name',
				optionsCaption: 'Choose...',
				value: selectedContentCollectionValue">
			</select> 
			<button type="button" title="Add a new collection" class="btn brand" data-bind="click: onAddContentCollectionClick">
		    	<i class="fa fa-plus"></i>
		    </button>
		  	<!-- ko if: selectedContentCollectionValue() != null -->
		    <button type="button" title="Delete" class="btn btn-danger" data-bind="click: onRemoveCollectionClick">
		    	<span class=""><i class="fa fa-trash-o"></i></span>
		    </button>
		    <!-- /ko -->
		    <!-- /ko -->

		    <!-- ko if: addingContentCollection -->
		    <input type="text" class="form-control" data-bind="hasFocus: true, valid: 'contentCollections', value: addingContentCollectionName" placeholder="Name your collection"/>
			<button type="button" title="Save" class="btn btn-success" data-bind="click: onSaveNewContentCollectionClick">
		    	<i class="fa fa-floppy-o"></i>
		    </button>
		    <button type="button" title="Cancel" class="btn btn-danger" data-bind="click: onCancelAddContentCollectionClick">
		    	<i class="fa fa-times"></i>
		    </button>
		    <!-- /ko -->
		</div>

		<!-- Individual content items in the selected collection -->
		<!-- ko if: selectedContentCollection() -->
		<!-- ko foreach: selectedContentCollection().paths() -->
		<div data-bind="editSaveInput: { 
			propertyName: 'path',
			save: $data.model().isNew() ? $parent.onSaveNewPathToContentClick.bind($parent) : $parent.onSaveEditPathToContentClick.bind($parent),
			delete: $parent.onRemoveContentItemClick.bind($parent),
			cancel: $data.model().isNew() ? $parent.onCancelAddPathToContentClick.bind($parent) : null
		}"></div>
		<!-- /ko -->

		<!-- Add Path Btn/Input -->
		<!-- if a collection is selected && not addingContentItem -->
		<!-- ko if: selectedContentCollectionValue() && !addingContentItem() -->
		<button type="button" class="btn brand btn-block btn-add-path" data-bind="click: onAddPathToContentClick">
	    	<span>Add Path <i class="fa fa-code-fork"></i></span>
	    </button>
	    <!-- /ko -->
	    <!-- /ko -->
	</div>
</script>