<script type="text/html" id="settings-page">
	<div class="page-settings">
		<form>
			<div class="settings-section-header">User Settings </div>
			<div class='form-group'>
				<div data-bind="editSaveInput: { 
					label: 'User Name', 
					propertyName: 'userName', 
					save: doPatch.bind($data), 
					disable: true					
				}"></div>

				<div data-bind="editSaveInput: { 
					label: 'Password', 
					propertyName: 'password', 
					save: doPatch.bind($data),
					type:'password'
				}"></div>
			</div>

			<div data-bind="template: 'content-collection'"></div>

			<div class="settings-section-header">Config Settings</div>
			<div class="form-group">
				<div data-bind="editSaveInput: { 
					label: 'Port Ahoy!', 
					propertyName: 'port', 
					save: onSaveEditPort.bind($data)
				}"></div>
			</div>
		</form>
	</div>
</script>
