<script type="text/html" id="neighbors-page">
	<div class="page-neighbors" data-bind="foreach: neighbors">
		<!-- ko template: 'neighbor-card' --><!-- /ko -->
	</div>
</script>

<script type="text/html" id="neighbor-card">
	<div class="neighbor-card" data-bind="click: App.goToFn('user/' + $data.userName() + '/collections')" >
		<div class="profile-image">
			<i class="fa fa-user"></i>
		</div>
		
		<div class="card-body">
			<div class="user-name" data-bind="text: userName"></div>
			<div class="info">
				<div class="info-item">
					<label for="collectionCount"># Collections</label>
					<div id="collectionCount" data-bind="text: collectionCount"></div>
				</div>	
				<div class="info-item">
					<label for="fileCount"># Content Items</label>
						<div id="fileCount" data-bind="text: fileCount"></div>
				</div>	
			</div>
		</div>
	</div>
</script>