<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{title}}</title>
		<!-- General META -->
		<meta charset="utf-8">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!--Application CSS Files-->
		{% for cssFile in cssFiles %}
		<link rel="stylesheet" href="{{cssFile}}">
		{% endfor %}
	</head>

	<body>
		{% block content %}{% endblock %}

		<!--Application JavaScript Files-->
		{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
		{% endfor %} 
	</body>
</html>